@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: white;
  background: linear-gradient(180deg, #002501 0%, #001301 100%);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.akeru-logo {
  background: linear-gradient(90deg, #3dff8b 0%, #88a2ff 100%, #88a2ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
